body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.business-header {
    margin-top: 100px;
    height: 400px;
    background: url('http://kitsch.ie/code.png') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Customize the text color and shadow color and to optimize text legibility. */

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    margin: 50px 0;
}

/*
    Homepage 
*/
.about-contact{
    text-align: left;
}

/**
    Bootstrap Overrides
*/
 .fakeContainer{
   margin-top: 50px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #000000;
}

.navbar-inverse .navbar-brand {
    color: #000000;
}

.navbar-inverse {
    background-color: #2ed0c8;
    border-color: #2ed0c8;
    
}

/*Lectuer page
*/
h5{
    font-family: Cabin;
    font-weight: 700;
    color: black;
}

.col-md-4 h3{
    font-family: Lato;
    font-weight: 700;
    text-align: left;
}
.col-md-4 p {
    font-family: Cabin;
    font-weight: 700;
    font-size: 18;
    text-align: left;
}

.col-md-4 li {
    font-family: Cabin;
    font-weight: 700;
    font-size: 18;
    text-align: left;
}