<div class="container"  ng-controller="CoursesDetailsCtrl">

    <div class="row" class="col-md-12">
        <div class="col-md-6" >
           <div ng-repeat="lecturer in lecturers | filter: {name: courses.lecturer}">
             <h3>{{lecturer.name}}</h3>
             <div>
                 <img class="img-circle"  ng-src="{{lecturer.picture}}" alt="" /> 
             </div>
                <p>{{lecturer.description}}</p>  
           </div>
           <br>
           <br>
           <br>
           <div class="page-container" ng-controller="TodoController">

            <div class="todo-content">
            <!-- HEADER AND TODO COUNT -->
                <div class="col-sm-6 col-sm-offset-3">
                    <div class="jumbotron text-center row">
                        <h2>You've got <span class="label label-info">{{ todos.length }}</span> things to do.</h2>
                    </div>
                </div>
            </div>
            <!-- FORM TO CREATE TODOS -->
            <div id="todo-form" class="row">
                <div class="col-sm-6 col-sm-offset-3 text-center" style="padding:0;">
                    <form name="todoForm" class="todoForm" ng-submit="createTodo()">
                        <div class="form-group">
                            <!-- BIND THIS VALUE TO formData.title IN ANGULAR -->
                            <div class="input-group">    
                                <input type="text" 
                                class="form-control input-text" 
                                placeholder="I need to..." 
                                ng-model="formData.title" 
                                autofocus required>
                                <!-- createToDo() WILL CREATE NEW TODOS -->
                                <div class="input-group-addon" style="background-color:#fff;">
                                    <button type="submit" class="create-todo">Add</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- TODO LIST -->
            <div id="todo-list" class="row" ng-show="todos.length > 0">
                <div class="col-sm-6 col-sm-offset-3" style="border:1px solid #e8e8e8;">
                    <!-- LOOP OVER THE TODOS IN $scope.todos -->
                    <div class="todo-item row" ng-repeat="todo in todos" ng-class="{'editing': todo == editedTodo}">
                        <div class="view row">
                            <label class="col-sm-10" ng-class="{'completed': todo.completed}">
                                <input type="checkbox" 
                                ng-click="saveTodo(todo)" 
                                ng-model="todo.completed"> {{ todo.title }}
                            </label>
                            <div class="col-sm-2">
                                <span class="glyphicon glyphicon-pencil" style="cursor:pointer;color:rgb(80, 228, 80);" ng-click="editTodo(todo)"> 
                                </span>  &nbsp;
                                <span class="glyphicon glyphicon-remove-circle" ng-click="deleteTodo(todo.id)" style="cursor:pointer;color:red;">
                                </span>
                            </div>        
                        </div>
                        <form style="margin-bottom:2px;margin-right:10px;" ng-submit="saveTodo(editedTodo)">
                            <div class="input-group edit">
                                <input name="editInput" class="form-control " ng-model="editedTodo.title" style="color:gray;" todo-focus="todo == editedTodo">
                                <div class="input-group-addon" style="background-color:#fff;">
                                    <button class="glyphicon glyphicon-ok-circle"></button>
                                </div>
                            </div>  
                        </form>
                    </div>    
                </div>
        </div>    
    </div>
        </div>
        <div class="col-md-6"> 
            <div class="myContainer" >
                <h2>{{courses.name}}</h2>
                <div class="thumbnail">
                    <img  ng-src="{{courses.picture}}" alt="" /> 
                </div>
                <div>
                    <p>{{courses.description}}</p>
                </div> 
                <div class="myVideo" ng-repeat="v in courses.video">
                    <!--<iframe width="560" height="315" ng-src="{{ v.video }}" 
                            frameborder="10" allowfullscreen>
                    </iframe>-->
                    <!--<ng-youtube-embed 
                        video="v | GetYouTubeID" 
                        height="315"
                        color="white"
                        disablekb="true"
                        end="20">
                    </ng-youtube-embed>-->
                    <youtube-video video-id="v | GetYouTubeID" ></youtube-video>
                </div>
            </div>
        </div> 
    </div>
</div>
    