<div class="container"  ng-controller="CoursesDetailsCtrl">

    <div class="row" class="col-md-12">
        <div class="buttonTab">
            <button type = "button" class = "btn btn-primary pull-left" ng-click="showCourseEditModal()">
                Edit Course
            </button>
            <button type = "button" class = "btn btn-primary" ng-click="showCreateCourseModal()">
                Create Course
            </button>
            <button type = "button" class = "btn btn-danger pull-right	" ng-click="showDeleteCourseModal()">
                Delete Course
            </button>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header" style="color: white; margin-top:20px;">Course Details:</h1>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="courseContainer">
            <h2>Name: {{courses.name}}</h2>
            <img class="img-responsive" ng-src="{{courses.picture}}" alt="" /> 
            <p>Description: <br>
             {{courses.description}}</p>
            <p>Lecturer: {{courses.lecturer}}
        </div> 
    </div>
</div>