<div class="container" >
    <div class="jumbotron">
        <h1><i class="fa fa-camera-retro"></i></span> Learn On Your Own</h1>
        <p>we need to put some text in here</p>
    </div>

    <div class="row" ng-controller="CoursesCtrl">
        <ul class="col-md-12"  >
                <li class="thumbnail" ng-repeat="course in courses" >
                    <a ui-sref="course({id: course.id })">
                        <img  ng-src="{{course.picture}}" alt="" />
                    </a>
                </li>  
        </ul>
    </div>
</div>