<div class="container" >
    
    <div class="row" ng-controller="LecturerCtrl">
        <ul class="col-md-12"  >
                <li class="myList"  ng-repeat="lecturer in lecturers" >
                    <div id="holder">
                        <h2>{{lecturer.name}}</h2>
                        <a ui-sref="course({id: course.id })">
                            <img class="img-circle" ng-src="{{lecturer.picture}}" alt="" />
                        </a>
                        <p>{{lecturer.description}}</p>
                    </div>
                </li>  
        </ul>
    </div>
</div>