
  <div class="container" >
    <div class="row main">
        <div class="main-login main-center">
            <div class="alert alert-danger" ng-show="error">
                There was a problem logging in. Please try again.
            </div>
            <h5>Login</h5>
                <form ng-submit="login()"
                    novalidate="novalidate"
                    ng-hide="submitted" >
            
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" 
                                class="form-control" 
                                name="email" 
                                id="email"  
                                ng-model="credentials.email"
                                placeholder="Enter Username"/>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-id-badge" aria-hidden="true"></i></span>
                                <input type="password" 
                                class="form-control" 
                                name="password" 
                                id="password"  
                                ng-model="credentials.password"
                                placeholder="Enter your Password"/>
                            </div>
                        </div>
                    </div>

                   <div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
                
            </form>
        </div>
    </div>
</div>


 <!--<div class="form-group">
                        <div class="col-md-12 control">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                                Don't have an account! 
                            <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                                Sign Up Here
                            </a>
                            </div>
                        </div>
                    </div> 
    -->
 <!--<div  class="alert alert-danger" ng-show="error">
    There was a problem logging in. Please try again.
</div>
<form  ng-controller="navigation" role="form" ng-submit="login()">
    <div class="form-group">
        <label for="username">Username:</label> <input type="text"
            class="form-control" id="email" name="email" ng-model="credentials.email"/>
    </div>
    <div class="form-group">
        <label for="password">Password:</label> <input type="password"
            class="form-control" id="password" name="password" ng-model="credentials.password"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>-->