<div id="createModal"
     class="modal"
     role="dialog" ng-controller="CoursesDetailsCtrl">
    <div class="modal-dialog" >
        <div class="modal-content" >
            <div class="modal-header" >
                <h4 class="modal-title" >Delete Course</h4 >
            </div >
            <div class="modal-body" >
                <form ng-submit="deleteCourse(courses.id)"
                    name="lecturerForm"
                      class="form-horizontal"
                      novalidate >
                      <div>
                      <p align="center">This will permanently delete this Course. Are you sure?</p>
                         <div class="modal-footer">
                            <button type="submit" class ="btn btn-danger pull-left">Delete </button>
                            <button type="button" class="btn btn-secondary" ng-click="deleteModal.hide()">Close</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
